:root{
    --escuro: #1F243E;
    --azul: #E0E9FF;
    --branco: #E0E0FF;
    --texto: 'Shippori Antique B1', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}
header{
    display: flex;   
    width: 100%;
    justify-content: space-between;
}
.home{
    display: flex;
    align-items: center;
    font-size: 2vw;
    gap: 1vw;
    padding: 0.4vw;
}
.home img{
    height: 10vh;
}

h1{
    background-color: var(--escuro);
    padding: .4vw 2vw;
    letter-spacing: 0.2vw;
    color: var(--azul);
    font-family: var(--texto);
    place-self: end;
    height: 10vh;
    width: 40%;
    line-height: 8vh;
}

main{
    width: 50%;
    height: 90%;
    padding: 4vw 2vw 1vw 2vw;
    font-family: var(--texto);
    color: var(--escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: var(--escuro);
    width: 100%;
    height: 96%;
    padding: 1vw;
    gap: 1vw;
}

.info-container{
    width: 100%;
    height: 100%;
    background-color: var(--azul);
    padding: 1vw 2vw;
    font-size: 2vw;
    display: grid;
    grid-template-rows: 14% 8% 1px 1fr 10%;
}
.info-container .first-row{
    display: flex;
    gap: 1vw;
    align-items: flex-end;
    justify-content: space-between;
}
.smaller{
    font-size: 2.6vw;
}
.info-container .first-row img{
    height: 10vh;
    border: solid 2px var(--escuro);
}
h3{
    font-size: 1.8vw;
}

hr{
    border: solid 1px var(--escuro);
    margin: 2vh 0;
}

.info{
    padding: 2vw 1vw;
    font-size: 1.8vw;
}

.info-footer{
    display: flex;
    justify-content: space-between;
    height: 6vh;
    align-items: center;
    place-self: end;
    width: 100%;
}
.info-footer div{
    height: 100%;
    width: 20%;
    position: relative;
    background-color: var(--escuro);
    color: var(--branco);
    text-align: center;
}
.info-footer div p{
    background-color: var(--azul);
    border: solid 1px var(--escuro);
    position: absolute;
    color: var(--escuro);
    height: 20vh;
    width: 28vw;
    padding: 1vw;
    word-wrap: break-word;
    bottom: 90%;
    left: 50%;
    display: none;
}
.info-footer div:hover > p{
    display: flex;
    align-items: center
}
.info-footer a{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1vw;
}
.info-footer a img {
    height: 100%;
}



/*scroll*/
*::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: var(--branco);
  }
  *::-webkit-scrollbar-track:hover {
    background-color: var(--azul);
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: var(--escuro);
  }


  @media (max-width: 900px) {

    header{
        display: flex;   
        width: 80vw;
        justify-content: space-between;
    }

    .home{
        font-size: 6vw;
        gap: 1vw;
        padding: 0.4vw;
    }
    .home img{
        height: 8vh;
    }
    
    h1{
        background-color: var(--escuro);
        padding: .4vw 2vw;
        letter-spacing: 0.2vw;
        color: var(--azul);
        font-family: var(--texto);
        place-self: end;
        height: 10vh;
        width: 50%;
        line-height: 8vh;
        text-align: center;
    }

    .container{
        width: 80vw;
    }

    .info-container .first-row{
        gap: 1vw;
        font-size: 4vw;
    }
    .smaller{
        font-size: 3vw;
    }
    .info-container .first-row img{
        height: 6vh;
        border: solid 2px var(--escuro);
    }
    h3{
        font-size: 4vw;
    }
    
    hr{
        border: solid 0.8px var(--escuro);
        margin: 0.2vh 0;
    }
    
    .info{
        padding: 7vw 1vw;
        font-size: 5.4vw;
    }
    
    .info-footer{
        display: flex;
        justify-content: space-between;
        height: 6vh;
        align-items: center;
        place-self: end;
        width: 100%;
    }
    .info-footer div{
        height: 100%;
        width: 40%;
        position: relative;
        background-color: var(--escuro);
        color: var(--branco);
        text-align: center;
        font-size: 4vw;
        line-height: 6vh;
    }
    .info-footer div p{
        height: 10vh;
        width: 42vw;
        padding: 1vw;
        word-wrap: break-word;
        bottom: 90%;
        left: 50%;
        display: none;
        font-size: 4vw;
    }
    .info-footer div:hover > p{
        display: block;
    }
    .info-footer a{
        height: 100%;
        display: flex;
        align-items: center;
        gap: 2vw;
        font-size: 4vw;
    }
    .info-footer a img {
        height: 90%;
    }

  }